<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Server-Side Template Injection</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
</head>
<body>
  <p><u>脆弱性がない例</u></p>
  <p>Gundam のパイロットを変更する</p>
  <p>
    <form method="get" action="index.php">
      <input type="text" name="pilot" value="Sayla Mass">
      <input type="submit" value="submit">
    </form>
  </p>
  <table border="1" >
    <thead>
      <tr>
        <td>TYPE</td>
        <td>NAME</td>
        <td>PILOT</td>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.type }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.pilot }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  <a href="ssti.php">Server-Side Template Injection の攻撃例（Twig）</a>
</body>
</html>
